<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xbim.IO" publicKeyToken="11e3655e576ec5a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5694.41801" newVersion="3.0.5694.41801" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xbim.Common" publicKeyToken="11e3655e576ec5a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5694.41797" newVersion="3.0.5694.41797" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xbim.Ifc2x3" publicKeyToken="11e3655e576ec5a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5694.41798" newVersion="3.0.5694.41798" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xbim.COBie" publicKeyToken="11e3655e576ec5a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5695.28418" newVersion="3.0.5695.28418" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xbim.ModelGeometry.Scene" publicKeyToken="11e3655e576ec5a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5695.27451" newVersion="3.0.5695.27451" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xbim.Ifc.Extensions" publicKeyToken="11e3655e576ec5a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5694.41800" newVersion="3.0.5694.41800" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>