<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="XbimXplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <appSettings>
  </appSettings>
  <userSettings>
    <XbimXplorer.Properties.Settings>
      <setting name="MRUFilesCount" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="PluginStartupLoad" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeveloperMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SettingsUpdateRequired" serializeAs="String">
        <value>True</value>
      </setting>
    </XbimXplorer.Properties.Settings>
  </userSettings>
</configuration>
