<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="XbimXplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--Uncomment the following line to set the directory Xbim should use for temporary files, specify a full path name -->
    <!--<add key="XbimTempDirectory" value="c:\XbimTemp"></add>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <!-- Defines default logging behaviour -->
    <root>
      <!-- By default all loggers system-wide will output to the appender called 'DefaultLogFile' as long as the Logging level is INFO or above-->
      <!--<appender-ref ref="DefaultLogFile" />-->
      <!-- Set the default logging level to one of ALL DEBUG INFO WARN ERROR FATAL NONE -->
      <level value="INFO" />
    </root>
    <logger name="Xbim">
      <!-- For Loggers in the Xbim Namespace, also output to an XML appender (enables a tool such as L4NDash to parse the output) -->
      <!--<appender-ref ref="XmlFile" />-->
      <level value="DEBUG" />
    </logger>
    <logger name="Xbim.WinUI">
      <!-- Switch the log level to DEBUG for loggers matching this Namespace. -->
      <level value="DEBUG" />
    </logger>
    <logger name="Xbim.ModelGeometry">
      <!-- Switch the log level to DEBUG for loggers matching this Namespace. -->
      <level value="DEBUG" />
    </logger>
    <!-- Text-based Rolling file appender which archives every hour, or when it hits 100MB. 10 most recent copies are maintained -->
    <!-- '%property{LogName}' will resolve to '%ProgramData\Lockley Consulting\XBIM Library\XbimXplorer' (from the assembly info attributes)-->
    <appender name="DefaultLogFile" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogName}_Default.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value=".yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100MB" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %-5level [%identity] %type.%method: %message %newline %exception" />
      </layout>
    </appender>
		<!-- A xml-format rolling file appender, which creates a new file every hour or ah 100MB. This file can be consumed by a tool such as L4NDash -->
    <appender name="XmlFile" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogName}_Default.xml" />
        <appendToFile value="true" />
        <rollingStyle value="Date" />
        <datePattern value=".yyyyMMdd" />
        <maxSizeRollBackups value="10" />
        <maximumFileSize value="100MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.XmlLayout">
          <param name="Prefix" value="" />
          <locationInfo value="true" />
        </layout>
    </appender>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <XbimXplorer.Properties.Settings>
      <setting name="FileAccessMode" serializeAs="String">
        <value>Read</value>
      </setting>
      <setting name="MRUFilesCount" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="PluginStartupLoad" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeveloperMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SettingsUpdateRequired" serializeAs="String">
        <value>True</value>
      </setting>
    </XbimXplorer.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xbim.IO" publicKeyToken="11e3655e576ec5a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xbim.Common" publicKeyToken="11e3655e576ec5a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xbim.Ifc2x3" publicKeyToken="11e3655e576ec5a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xbim.Ifc.Extensions" publicKeyToken="11e3655e576ec5a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xbim.COBie" publicKeyToken="11e3655e576ec5a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5701.40082" newVersion="3.0.5701.40082" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xbim.ModelGeometry.Scene" publicKeyToken="11e3655e576ec5a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5695.27451" newVersion="3.0.5695.27451" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xbim.Properties" publicKeyToken="11e3655e576ec5a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.0.0.0" newVersion="0.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xbim.Tessellator" publicKeyToken="11e3655e576ec5a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.14.0" newVersion="1.2.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xbim.IO.TableStore" publicKeyToken="11e3655e576ec5a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI.OpenXmlFormats" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.3.1" newVersion="2.1.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI.OpenXml4Net" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.3.1" newVersion="2.1.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xbim.Ifc4" publicKeyToken="11e3655e576ec5a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.12.0.817" newVersion="2.12.0.817" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
