<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonDock" version="2.0.2000" targetFramework="net4" />
  <package id="HelixToolkit" version="2015.1.629" targetFramework="net4" />
  <package id="HelixToolkit.Wpf" version="2015.1.629" targetFramework="net4" />
  <package id="log4net" version="2.0.4" targetFramework="net4" />
  <package id="ManagedEsent" version="1.9.2.0" targetFramework="net4" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net4" />
  <package id="NPOI" version="2.1.3.1" targetFramework="net4" />
  <package id="NuGet.Core" version="2.10.1" targetFramework="net4" />
  <package id="PropertyTools.Wpf" version="2015.1.66" targetFramework="net4" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net4" />
  <package id="Xbim.Essentials" version="4.0.0-V187" targetFramework="net40" />
  <package id="Xbim.Geometry" version="4.0.0-V0072" targetFramework="net40" />
</packages>