<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.12.0" targetFramework="net45" />
  <package id="HelixToolkit" version="2015.1.715" targetFramework="net45" />
  <package id="HelixToolkit.Wpf" version="2015.1.715" targetFramework="net45" />
  <package id="ManagedEsent" version="1.9.4" targetFramework="net45" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Options" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net47" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net47" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net47" />
  <package id="System.Memory" version="4.5.1" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net47" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net47" />
  <package id="Xbim.Common" version="5.0.241-develop" targetFramework="net47" />
  <package id="Xbim.Essentials" version="5.0.241-develop" targetFramework="net47" />
  <package id="Xbim.Geometry" version="5.0.203-develop" targetFramework="net47" />
  <package id="Xbim.Geometry.Engine.Interop" version="5.0.203-develop" targetFramework="net47" />
  <package id="Xbim.Ifc" version="5.0.241-develop" targetFramework="net47" />
  <package id="Xbim.Ifc2x3" version="5.0.241-develop" targetFramework="net47" />
  <package id="Xbim.Ifc4" version="5.0.241-develop" targetFramework="net47" />
  <package id="Xbim.IO.Esent" version="5.0.241-develop" targetFramework="net47" />
  <package id="Xbim.IO.MemoryModel" version="5.0.241-develop" targetFramework="net47" />
  <package id="Xbim.ModelGeometry.Scene" version="5.0.203-develop" targetFramework="net47" />
  <package id="Xbim.Tessellator" version="5.0.241-develop" targetFramework="net47" />
</packages>